<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

    <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand">TechJobs</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
<!--                    <li><a th:href="@{/search}">Search</a></li>-->
<!--                    <li><a th:href="@{/list}">List</a></li>-->
                    <li th:each="action: ${actions}">
                        <a th:href="@{'/' + ${action.key}}" th:text="${action.value}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div th:fragment="jobResults">

<!--        <table class="job-listing">-->
<!--            <tr th:each="job : ${jobs}">-->
<!--                <td >-->
<!--                    <p th th:text = "'ID: '+${job.id}"></p>-->
<!--                    <p th th:text = "'Name: '+${job.name}"></p>-->
<!--                    <p th th:text = "'Employer: '+${job.employer}"></p>-->
<!--                    <p th th:text = "'Location: '+${job.location}"></p>-->
<!--                    <p th th:text = "'Position Type: '+${job.positionType}"></p>-->
<!--                    <p th th:text = "'Skill: '+${job.coreCompetency}"></p>-->
<!--                </td>-->
<!--            </tr>-->
<!--        </table>-->

        <table th:each="job: ${jobs}" class="job-listing">
            <tr>
                <td>
                    <p th:text="'ID: ' + ${job.id}"></p>
                    <p th:text="'Name: ' + ${#strings.toUpperCase(job.name)}"></p>
                    <p>Employer: <a th:href="@{/list/jobs(column=${'employer'},value=${job.employer})}" th:text="${#strings.toUpperCase(job.employer)}"></a></p>
                    <p>Location: <a th:href="@{/list/jobs(column=${'location'},value=${job.location})}" th:text="${#strings.toUpperCase(job.location)}"></a></p>
                    <p>Position Type: <a th:href="@{/list/jobs(column=${'positionType'},value=${job.positionType})}" th:text="${#strings.toUpperCase(job.positionType)}"></a></p>
                    <p>Skill: <a th:href="@{/list/jobs(column=${'coreCompetency'},value=${job.coreCompetency})}" th:text="${#strings.toUpperCase(job.coreCompetency)}"></a></p>
                </td>
            </tr>
        </table>
    </div>

</body>
</html>